@font-face {
  font-family: "iconfont"; /* Project id 3523501 */
  src: url('iconfont.woff2?t=1657805998480') format('woff2'),
       url('iconfont.woff?t=1657805998480') format('woff'),
       url('iconfont.ttf?t=1657805998480') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e6b1";
}

.icon-jinggao:before {
  content: "\e605";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-xinxi:before {
  content: "\e649";
}

.icon-blog:before {
  content: "\e600";
}

.icon-liuyan:before {
  content: "\e638";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-jiantouxia:before {
  content: "\e62d";
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-code:before {
  content: "\e7fc";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-zhengque:before {
  content: "\e60a";
}

.icon-email:before {
  content: "\e62e";
}

.icon-empty:before {
  content: "\e6a6";
}

.icon-cuowu:before {
  content: "\e7fa";
}

.icon-set_about_hov:before {
  content: "\e688";
}

